.container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}
.lisenceArea {
  padding: 40px;
  display: flex;
}
.lisenceItem {
  display: flex;
  padding: 10px 15px;
  & img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  @media screen and (max-width: 500px) {
    display: none;
  }
}
.lisenceHeading {
  font-weight: 600;
  font-size: 15px;
}
.lisenceText {
  color: #787878;
}
.campaignArea {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.campaignItem {
  & img {
    width: 90%;
    transition: 0.5s;
    &:hover {
      box-shadow: 0px 5px 5px #989797;
      transform: translate(0, -10px);
    }
  }
  @media screen and (max-width: 500px) {
    display: none;
  }
}
