.spinnerBtn {
  height: 30px;
  display: inline-flex;
  justify-content: center;

  * {
    font-family: SFUIDisplay;
    font-size: 12px;
    color: #323232 !important;
    border-color: #dddddd;
    width: 30px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .value {
    background-color: white;
    cursor: default;
    visibility: visible;
    width: 30px;

    &[class*='ant-input'] {
      &:focus {
        border-color: #dddddd;
        box-shadow: none;
      }

      &:hover {
        border-color: #dddddd;
      }
    }
  }

  .buttonAddSub {
    &[class*='ant-btn'] {
      &:focus {
        border-color: #dddddd;
      }

      &:hover {
        border-color: #dddddd;
      }

      &[class*='ant-btn'] {
        &::after {
          display: none;
        }
      }
    }
  }
}
