.container {
  padding: 20px 0 50px;
}
.titleLeftRight {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0 15px;
  overflow: hidden;
  padding-bottom: 5px;
  border-bottom: 1px dotted #ddd;
  & img {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin-right: 8px;
  }
}
.mes {
  vertical-align: middle;
}
.map {
  & img {
    width: 100%;
    height: 80vh;
  }
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(21fr);
  grid-gap: 40px;
  @media screen and (max-width: 960px) {
    display: block;
  }
}
.col {
  display: grid;
  grid-template-columns: repeat(21fr);
  grid-gap: 30px;
  margin-bottom: 10px;
  @media screen and (max-width: 760px) {
    display: block;
  }
}
.colFul {
  text-align: center;
}
.spanIcons {
  padding: 8px 14px;
  border: 1px solid #ccc;
  border-right: 0;
  line-height: 13px;
  text-align: center;
  & img {
    height: 15px;
    width: 15px;
  }
}
.inputGroup {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 10px;
}
.input {
  width: 100%;
  padding: 6px 12px;
  outline: 0;
  border: 1px solid #ccc;
}
.inputTexarea {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  resize: none;
  outline: 0;
}
.btn {
  color: #fff;
  background: #333;
  border: 1px solid #333;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 15px;
  position: relative;
  width: auto;
  white-space: nowrap;
  margin-top: 10px;
  cursor: pointer;
}
.phone {
  width: 100%;
  text-decoration: none;
  color: #000;
  float: left;
  font-size: 14px;
  line-height: 16px;
  margin: 5px 0;
  overflow: hidden;
  padding-bottom: 5px;
  & img {
    height: 15px;
    width: 15px;
    vertical-align: middle;
  }
}
.spaceSpan {
  padding: 7px;
  vertical-align: middle;
}
.spaceSpanLink {
  padding: 7px;
  cursor: pointer;
  vertical-align: middle;
  &:hover {
    color: #428bca;
  }
}
.right {
}
