.formField {
  margin-bottom: 10px;

  .inputFieldInput {
    height: 32px;
  }
}

.updateBtn {
  margin-top: 20px;
  height: 40px;
  width: 100%;
}

.updateBtnMobile {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 100%;
  max-width: 350px;
}
