.rootDesktop {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: solid 1px #d9d9d9;
  background-color: #fff;
  box-sizing: border-box;

  .flexHead {
    display: flex;
    padding: 18px 0 18px 17px;

    .avatar {
      margin-right: 13px;

      img {
        width: 69px;
        height: 69px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .text {
      h4 {
        margin: 16px 0 0;
        font-family: SFUIDisplay;
        font-size: 16px;
        font-weight: 600;
        color: #4a4a4a;
      }

      p {
        margin: 0;

        span {
          font-family: SFUIDisplay;
          font-size: 12px;
          color: #788995;
        }

        img {
          width: 13px;
          height: 9px;
          margin-left: 5px;
          object-fit: contain;
        }
      }
    }
  }

  .pointBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 34px);
    height: 52px;
    object-fit: contain;
    background-image: url('/assets/icons/bg-editpf.svg');
    background-size: cover;
    margin-left: 17px;
    border-radius: 4px;

    .textP {
      font-family: SFUIDisplay;
      font-size: 12px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 0;
    }

    .pointValue {
      font-family: SFUIDisplay;
      font-size: 12px;
      font-weight: 200;
      color: #ffffff;
      margin-bottom: 0;
      margin-left: 20px;
    }
  }

  .flexBody {
    display: flex;
    margin-left: 7px;
    margin-top: 17px;

    .select {
      text-align: center;
      padding: 0 16px;
      position: relative;

      img {
        width: 17px;
        height: 17px;
        object-fit: contain;
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 30%;
        width: 2px;
        height: 27px;
        border-right: dashed 1px #dddddd;
      }

      &:last-child::after {
        content: none;
      }
    }
  }

  .lineDotted {
    width: 250px;
    margin: 24px auto 11px;
    height: 1px;
    border-bottom: dashed 1px #d4d4d4;
  }

  .list {
    padding-left: 17px;
    list-style: none;

    li {
      padding-bottom: 11px;

      img {
        margin-right: 11px;
        width: 12px;
        height: 12px;
      }
    }
  }
}

.textS {
  margin-top: 5px;
  font-family: SFUIDisplay;
  font-size: 12px;
  font-weight: 500;
  color: #82929e;
}

.textSSelected {
  @extend .textS;
  color: #f16728;
}
