.container {
  margin: 50px 0 20px;
}

.heading {
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  &::before {
    content: '';
    flex-grow: 1;
    height: 2px;
    background: #333;
    margin-right: 20px;
  }
  &::after {
    content: '';
    height: 2px;
    flex-grow: 1;
    background: #333;
    margin-left: 20px;
  }
}
.content {
  text-align: center;
}
